<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>

  <body>

    <div class="container">
      <h1>My Form</h1>
      <p><%= title %></p>
      <br>
      <form method="POST" action="/addkomentar">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" name="name" id="name"  placeholder="nama Anda">
          </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Isi komentar</label>
          <input type="text" class="form-control" name="comment" id="comment"  placeholder="isi komentar">
        </div>
        <button href="/product/" type="submit" class="btn btn-primary">Tambah</button>
        <a href="/product" class="btn btn-warning">Cancel </a>
      </form>
    </div>
    
  </body>
</html>
