
<%- include('templates/header')-%>
<h1>Anda Belum Login</h1>
<br>

<div class="container text-center">
    <div class="card mb-3" style="width: 18rem;">
   
        <h5 class="card-title">Silahkan Login Dahulu</h5>
  
    <div>
</div>

  <a href="/" class="btn btn-outline-primary">Back</a>
  &nbsp;
  <a href="/product/login" class="btn btn-primary">Login</a>
  &nbsp;
  <a href="/product/register" class="btn btn-info">Register</a>

</div>

<%- include('templates/footer') -%>

